DATABASE_URL=postgresql://supadmin:1234@localhost:5432/new_denta
SECRET_KEY=FHhXPHRZblS4KAyZy57b7uBiq09i-_d2P-kpoMAsC2I
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
SUPERUSER_PHONE=+77771234567
SUPERUSER_PASSWORD=1234
SUPERUSER_FULL_NAME=Системный Администратор
